html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Commun CSS */

:root {
    --black: #221824;
    --violet: #DD06FF;
    --violet-light: #FF69FF;
    --pink-light: #FFEAFF;
    --grey-light: #eaeef7;
    --grey-deep: #6b82ac;
    --white-light: #fff5ff;
    --white-cream: #fef0e8;

}

a {
    text-decoration: none;
}

html, body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

.wrap {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -50px;
}

/* Sticky footer   ---->    https://la-cascade.io/sticky-footer-de-5-facons/ */

.footer, .push {
    height: 50px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.btn {
    width: 200px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
}

.btn:hover {
    background-position: 100% 0;
    -webkitz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn.color-1 {
    background-image: linear-gradient(to right, var(--violet) 0%, var(--grey-deep) 100%);
    box-shadow: 0 4px 15px 0 var(--violet);
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

h1 {
    font-size: 35px;
    font-weight: 600;
}

/* End Commun CSS */

/* Header */

header {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
}

.nav a {
    color: var(--black);
}

.nav a.btn {
    color: var(--white-light);
}

.nav a:hover {
    font-weight: 600;
    transition: .5s;
}

.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 100%;
}

.left {
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
}

.right {
    display: flex;
}

/* END HEADER */

/* FOOTER ================================================ */

.footer-container {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.link-footer {
    display: flex;
    flex-direction: column;
}

.title-footer {
    margin-bottom: 15px;
}

.color-black {
    color: var(--black);
}

.fab {
    cursor: pointer;
}

.fa-twitter {
    color: #6CADDE!important;
}

.fa-facebook-f {
    color: #3b5998!important;
}

.fa-instagram {
    color: var(--violet);
}

.fa-instagram-square {
    color: var(--violet);
}

/* END FOOTER */

/* START SECTION BANNER */

.banner {
    position: relative;
    overflow: hidden;
    z-index: 0;
    /* max-height: 1024px; */
    height: 100vh;
}

.imgBannerFirst {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.imgBannerSecond {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.imgBannerThird {
    position: absolute;
    top: 80px;
    right: 21px;
    z-index: 2;
}

.txtContent {
    position: absolute;
    z-index: 2;
    width: 528px;
    height: 347px;
    top: 180px;
    left: 58px;
}

.txtContent h1 {
    color: var(--white-light);
    margin-bottom: 20px;
}
.txtContent p {
    color: var(--black);
    font-size: 25px;
    line-height: 140%;
}

.inputSelect {
    background-color: var(--white-light);
    width: 1057px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 25px;
}
.inputSelect input, .inputSelect select {
    background-color: var(--pink-light);
    padding: 10px 10px;
    border-radius: 5px;
    width: 40%;
    border: none;
    font-size: 20px;
}

.inputSelect input#submitted{
    background-color: var(--violet);
    color: var(--white-light);
    font-size: 18px;
    padding: 5px 20px;
    width: 15%;
}

/* END SECTION BANNER */

.first {
    background-color: rgba(0, 0, 0, 0.3);
    height: 700px;
}

