html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

/* Commun CSS */

:root {
    --black: #221824;
    --violet: #DD06FF;
    --violet-light: #FF69FF;
    --pink-light: #FFEAFF;
    --grey-light: #eaeef7;
    --grey-deep: #6b82ac;
    --white-light: #fff5ff;
    --white-cream: #fef0e8;
    --white: #fff;
    --grey: #adbdcc;
    --blue-btn: #6C63FF;
    --blue-pro: #C9C6FF;
    --blue-primary: #0a2540;
    --blue-secondary: #00d4ff;
    --green: #8bff96;
    --red: #ff6b6b;
    --light: 300;
    --regular: 400;
    --semi-bold: 500;
    --bold: 700;
    --columnCountMax: 4;
}

a {
    text-decoration: none;
}

html, body {
    /* font-size: 1em; */
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

.wrap {
    /* max-width: 1950px;
    width: 100%; */
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -50px;
}

/* MENU BURGER */

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: linear-gradient(#DD06FF, #FF71FF);
    z-index: 2;
    transition: 0.5s;
    display: none;
}

#sideNav nav ul li {
    list-style: none;
    margin: 50px 20px;
    text-align: center;
}

#sideNav nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

#menuBtn {
    display: none;
    width: 50px;
    height: 50px;
    background: linear-gradient(#DD06FF, #FF71FF);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 10px;
    border-radius: 50px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

/* MENU BURGER */

/* Sticky footer   ---->    https://la-cascade.io/sticky-footer-de-5-facons/ */

.footer, .push {
    height: 50px;
}

::-webkit-scrollbar {
    width: 6px;
}

/* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */


.btn {
    width: 200px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
}

.btn:hover {
    background-position: 100% 0;
    -webkitz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn.color-1 {
    background-image: linear-gradient(to right, var(--violet) 0%, var(--grey-deep) 100%);
    /* box-shadow: 0 4px 15px 0 var(--violet); */
}

.btn.color-2 {
    background-image: linear-gradient(to right, var(--blue-btn) 0%, var(--grey-deep) 100%);
    /* box-shadow: 0 4px 15px 0 var(--violet); */
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

.margin-b {
    margin-bottom: 5px;
}

h1 {
    font-size: 35px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-weight: 400;
    font-size: 20px;
}

i {
    color: var(--violet-light);
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

/* End Commun CSS */

/* Header */

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
    background-color: var(--white);
    position: relative;
    z-index: 10;
}

.nav a {
    color: var(--black);
}

.nav a.btn {
    color: var(--white-light);
}

.nav a:hover {
    font-weight: 600;
    transition: .5s;
}

.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
}

.left {
    width: 319px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
}

.right {
    display: flex;
}

/* END HEADER */

/* FOOTER ================================================ */

.footer-container {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.link-footer {
    display: flex;
    flex-direction: column;
}

.title-footer {
    font-size: 1.5625em;
    font-weight: bold;
}

.color-black {
    color: var(--black);
    margin-bottom: 15px;
}

.fab {
    cursor: pointer;
    font-size: 1.5em;
    padding-right: 10px;
}

.fa-twitter {
    color: #6CADDE!important;
}

.fa-facebook-f {
    color: #3b5998!important;
}

.fa-instagram {
    color: #8134AF !important;
}

.fa-linkedin-in {
    color: #0072b1!important;
}

/* END FOOTER */

/* START SECTION BANNER */

.banner {
    position: relative;
    overflow: hidden;
    z-index: 0;
    /* max-height: 1024px; */
    height: 100vh;
}

.imgBannerFirst {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.imgBannerSecond {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.imgBannerThird {
    position: absolute;
    top: 80px;
    right: 21px;
    z-index: 2;
}

.txtContent {
    position: absolute;
    z-index: 2;
    width: 528px;
    height: 347px;
    top: 180px;
    left: 58px;
}

.txtContent h1 {
    color: var(--white-light);
    margin-bottom: 20px;
}

.txtContent p {
    color: var(--black);
    font-size: 25px;
    line-height: 140%;
}

.inputSelect {
    background-color: var(--white-light);
    width: 1057px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 25px;
}

.inputSelect input, .inputSelect #selectMode {
    background-color: var(--pink-light);
    padding: 10px 10px;
    border-radius: 5px;
    width: 40%;
    border: none;
    font-size: 20px;
    height: 45px;
}

.inputSelect input#submitted {
    background-color: var(--violet);
    color: var(--white-light);
    font-size: 18px;
    padding: 5px 20px;
    width: 15%;
    cursor: pointer;
}

/* END SECTION BANNER */

/* START SECTION FIRST */

.first {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
}

.first h2 {
    width: 349px;
    margin: 0 auto;
}

#firstContent {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* height: 100vh;
    z-index: 1; */
}

.select-category {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.content-category {
    width: 70%;
}

.firstContent h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .3;
}

.select-category button {
    width: 300px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    border: none;
    margin-bottom: 15px;
    font-weight: 300;
}

div[class^='category-'] {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fullContent {
    display: flex;
    flex-direction: column;
}

div[class^='category-'] img {
    width: 35%;
}

div[class^='category-'] a {
    padding: 11px 12px;
    border: 1px solid var(--black);
    width: fit-content;
    border-radius: 10px;
    margin-left: 80px;
    color: var(--black);
}

.txtImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .txtCat {
    width: 60%;
} */

.txtCat h3 {
    margin-bottom: 15px;
}

.txtCat p {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
}

.fullContent .community {
    color: var(--white-light);
    background-color: var(--violet);
    border: none;
    background-image: linear-gradient(to right, var(--violet) 0%, var(--grey-deep) 100%);
}

.select-category .active {
    font-weight: 400;
}

button.active {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

div.hideCategory {
    display: none;
}

.pinkStats {
    width: 100%;
    height: 149px;
    background-color: var(--pink-light);
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxStats {
    width: 235px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.boxStats p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

.boxStats img {
    margin-right: 20px;
    width: 20%;
}

/* #garde i {
    color: var(--green);
}
#communaute i {
    color: var(--red);
}
#reseaux i {
    color: var(--blue-btn);
} */

/* END SECTION FIRST */

/* START SECTION SECOND */

/*  SECTION SECOND */

/* START SECTION THIRD */

.third {
    height: 370px;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vector-third {
    width: 100%;
    position: absolute;
    z-index: 1;
    /* à 50%/50% du parent référent */
    top: 50%;
    left: 50%;
    /* décalage de 50% de sa propre taille */
    transform: translate(-50%, -50%);
}

.vector-third img {
    width: fit-content;
}

.card {
    width: 387px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.wrapCard {
    width: 339px;
    height: auto;
}

.infoCard {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailInfo {
    line-height: 20px;
}

.contentCard {
    padding-top: 20px;
    line-height: 24.28px;
}

.showContent1 {
    display: none;
}

.showContent2 {
    display: none;
}

.showContent3 {
    display: none;
}

.contentCard a {
    color: var(--violet);
    cursor: pointer;
}

/*  SECTION THIRD */

/* Pro SECTION BANNER */

.pro {
    background-color: var(--white-light);
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    border-radius: 20px;
    margin-top: 25px;
}

.pro a {
    padding: 12px 12px;
    background-color: var(--blue-btn);
    color: var(--white);
    font-size: 20px;
    border-radius: 10px;
}

.bluePro {
    background-color: var(--blue-pro);
}

.txtImg.proCat {
    display: flex;
    flex-direction: column;
}

#visibility i, #garde i, .txtCat .fa-link {
    color: var(--green);
}

#boost i, #reseaux i {
    color: var(--red);
}

#reseau i, #communaute i {
    color: var(--blue-btn);
}

#dispo i {
    color: var(--violet-light);
}

/* Pro SECTION BANNER */

/* MAP */

/* #map {
    height: 400px;
    width: 50%;
} */

/* END MAP */

h2 {
    text-align: center;
    font-size: 1.875em;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nous {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.second {
    height: 100%;
}

.btn-job {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.go {
    padding-left: 20px;
    padding-right: 20px;
}

/* MODAL */

.modal-wrapper {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.modal-wrapper.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    pointer-events: initial;
    -webkit-transition: opacity 0;
    -o-transition: opacity 0;
    transition: opacity 0;
}

.modal-wrapper.active .modal-content {
    -webkit-animation-name: backInDown;
    animation-name: backInDown;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: var(--blue-primary);
}

.modal-close:hover {
    opacity: .6;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);
}

.modal-login {
    display: flex;
    width: 400px;
}

.modal-register {
    display: none;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    outline: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .3rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.btn-modal {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-secondary, .btn-secondary a, .dg-btn--ok {
    color: var(--white-light);
    background-color: #ff8a6d;
    border-color: #ff8a6d;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.text-center {
    text-align: center!important;
}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}

.btn-block {
    display: block;
    width: 100%;
}

.choose-type button {
    position: relative;
    color: #FFF;
    border: none;
    background-size: cover;
    background-position: center;
}

.choose-type button:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 138, 109, 0.8);
    border-radius: 0.3rem;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}

.modal-register {
    width: 500px;
}

#modal-parent {
    display: none;
}

.choose-type button h6 {
    position: relative;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.h4, h4 {
    font-size: 1.35rem;
}

.choose-type button.parent {
    background-image: url(../image/register-parent.jpg);
}

.choose-type button.babysitter {
    background-image: url(../image/register-babysitter.jpg);
}

.text-secondary {
    color: #ff8a6d!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.btn-outline-secondary2 {
    color: #ff8a6d;
    border-color: #ff8a6d;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .7rem;
    font-size: .7875rem;
    line-height: 1.5;
    border-radius: .3rem;
}

#modal-baby {
    display: none;
}

.modal-lost_password {
    display: none;
}

/* FORMULAIRE CONTACT==============================*/

.fourth {
    height: 100%;
    padding: 50px 30px;
    position: relative;
}

.img-vector {
    position: absolute;
    z-index: 0;
}

.img-vector-top {
    top: 0;
    left: 0;
}

.img-vector-bottom {
    bottom: 0;
    right: 0;
}

.wrap-sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

#sheet {
    background-color: var(--white);
    width: 90%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 20px;
    border-radius: 10px;
}

.sheet-two {
    background-color: var(--white);
    width: 80%;
    position: relative;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 20px;
    margin: 0 auto 20px;
    border: none;
    border-radius: 10px;
}

.contact-title {
    font-size: 1.5625em;
    font-weight: 500;
    line-height: 30px;
}

.contact-para {
    font-size: 1.375em;
    line-height: 27px;
    text-align: center;
    margin: 20px 0 50px;
}

#formcontact {
    padding: 10px;
}

#formcontact label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#formcontact input {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
}

#formcontact textarea {
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 30px;
    resize: none;
    text-align: center;
    outline: none;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    height: 200px;
    font-size: 15px;
}

#formcontact input[type="submit"] {
    width: 200px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: var(--blue-btn);
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

#formcontact input[type="submit"]:hover {
    transform: scale(1.1);
    transition: .5s;
}

#formcontact .submitButtonContact {
    text-align: center;
}

/* SECTION MENTIONS */

#mentions {
    padding: 80px 50px;
}

#mentions h3 {
    margin: 20px 0 5px 0;
    font-weight: 500;
}

#mentions h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

#mentions p {
    font-weight: 400;
    /* font-size: ; */
}

#mentions a {
    font-weight: 400;
    color: var(--violet);
}

#mentions strong {
    font-weight: 500;
}

/* SECTION MENTIONS */

/* DASHBOARD PARENTS */

.dashboardParents {
    height: 100vh;
}

.headParents {
    height: 288px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.headParents img {
    position: absolute;
    width: 100%;
    height: 70px;
    text-align: center;
    top: 0;
}

.btnParents {
    width: 546px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.btnParents a {
    padding: 16px 12px;
}

.btnParents1 {
    width: 240px;
}

.btnParents2 {
    width: 286px;
}

/* DASHBOARD PARENTS */

/* MAP */

.searchParents {
    height: 100vh;
}

.headSearch {
    height: 125px;
    position: relative;
}

.headSearch img {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    z-index: -1;
}

.boxHead {
    width: 1312px;
    color: var(--white);
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.boxHead h3 {
    margin-bottom: 10px;
}

.boxHead input, button {
    width: 225px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 16px;
}

.boxHead button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-left: 5px;
}

.contentSearch {
    width: 1312px;
    margin: 0 auto;
    height: auto;
}

.contentSearch h4 {
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.partnerTitle {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.label-text {
    margin-left: 16px;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked~.indicator {
    transform: translate3d(25%, 0, 0);
}

.cardMap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin: 10px 0;
}

.cardSearch {
    background-color: #007221;
    width: 49%;
    height: 302px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoCardSearch {
    display: flex;
    align-items: center;
    width: 50%;
}

.nomCard {
    margin-left: 30px;
    width: 100%;
}

.nomCard p {
    width: 100%;
    padding: 6px 0;
}

.contentCardSearch {
    display: flex;
    align-items: center;
}

.btnInfo {
    display: flex;
    justify-content: space-between;
}

.rightInfoCard {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.btnInfo a, .btnInfo p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.voirPlus {
    width: 124px;
    height: 38px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.phoneCard {
    width: 49px;
    height: 38px;
    background: var(--violet-light);
    border-radius: 10px;
}

.phoneCard i {
    color: var(--white);
}

.sendCard {
    height: 38px;
    background: #FFFFFF;
    border: 1px solid var(--violet-light);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 10px;
    color: var(--violet-light);
}

.sendCard i {
    margin-right: 10px;
    color: var(--red);
}

.map {
    width: 49%;
    background-color: #0072b1;
    border-radius: 10px;
    /* height: 100%; */
}
#map{
    height: 600px;
    width:600px;
}
#name{
    display:none;
}
.boxHead_bis{
    display: flex;
}  

/* MAP */
/* RESPONSIVE */

@media screen and (max-width: 1180px) {
    .banner {
        display: flex;
        justify-content: center;
        /* align-items: flex-start; */
    }
    .inputSelect {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputSelect input, .inputSelect #selectMode {
        margin: 5px 0;
        width: 90%;
    }
    .inputSelect input#submitted {
        width: 60%;
    }
    .txtImg {
        display: flex;
        flex-direction: column;
    }
    .third {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .select-category button {
        width: auto;
    }
    .fullContent {
        /* display: flex; */
        align-items: center;
    }
    div[class^='category-'] a {
        margin: 20px 0 0 0;
    }
    .txtContent {
        position: relative;
        z-index: 2;
        width: 60%;
        height: auto;
        margin: -100px 0 0 -70px;
        /* text-align: center; */
    }
    .txtContent p {
        color: var(--white);
    }
    .imgBannerThird {
        display: none;
    }
    .card {
        margin: 10px 0;
    }
}


@media screen and (max-width: 1065px) {
    .img-vector-top {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .pro {
        flex-direction: column;
        width: auto;

    }
}

@media screen and (max-width: 700px) {
    .nous {
        display: flex;
        flex-wrap: wrap;
    }
    .pinkStats {
        flex-direction: column;
        height: 100%;
    }
    .txtContent {
        margin: -110px 0 0 -100px;
        z-index: 10;
        height: 100%;
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .left li, .right li {
        display: none;
    }
    #sideNav, #menuBtn {
        display: inline;
        /* z-index: 0; */
    }

    #firstContent {
        flex-direction: column;
        align-items: center;
    }
    .content-category, .card, .select-category {
        width: 95%;
    }
    .select-category {
        flex-direction: row;
    }
    .txtContent p {
        font-size: 20px;
    }
    .first h2 {
        width: auto;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .link-footer {
        margin-top: 10px;
    }
    button.active {
        height: 100%;
    }
    #formcontact input[type="submit"] {
        width: auto;
    }
    #sheet {
        width: auto;
    }
    .sheet-two {
        width: 100%;
    }
}


/* RESPONSIVE */


/* MAP */


/* DASH PARENTS */
.dash-text{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.dash-sheet{
    width: 50%;
    height: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px;
    background: var(--white);
    border-radius: 10px;
    position: absolute;
}
.sheet-dash{
    width: 100%;
    height: 70%;
    position: relative;
    background-color: #F2F2F2;
}
.sheet-wrap{
    display: flex;
    justify-content: center;
}
.pp{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -80px;
    left: 146px;
    z-index: 2;
}
.pp-size{
    width: 150px;
}
.ppmail{
    margin-top: 15px;
}
.btnprofil{
    width: 151px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    text-align: center;
    background: #FFFFFF;
    border: 1px solid var(--violet-light);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}
.btnprofil:hover{
    color: var(--white);
    /* font-weight: bold; */
    background-color: var(--violet-light);
    transition: 1s;
}

/* DASH PARENTS */

/* DASH PROS */

.dashboardPros {
    height: 100vh;
}

.headPros {
    height: 288px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.headPros img {
    position: absolute;
    width: 100%;
    height: 70px;
    text-align: center;
    top: 0px;
}
.btnPros {
    align-items: center;
    margin: 0 auto;
}

.dash-pros-titre{
    position: relative;
}

.btnprofil1{
    border: 1px solid var(--blue-btn);
}

.btnprofil1:hover{
    background-color: var(--blue-btn);
}
/* DASH PROS */

/* PROFIL PARENTS ====================================================*/
/* HEADER PROFIL PARENTS */
.profilParents{
    width: 100%;
}
.headprofil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.profil-text{
    text-transform: uppercase;
}

.btnmodif{
    width: 13%;
    font-size: .7875rem;
    line-height: 1.5;
    font-weight: bold;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--violet-light);
    border: none;
    transition: all .6s ease-in-out;
}
.btnmodif:hover{
    background-color: var(--violet);
}
.fa-image{
    color: var(--white)!important;
    margin-right: 5px;
}
/* BODY PROFIL PARENTS */

.formProfil{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}
#formprofil{
    margin: 20px 0;
}

.inputprofil{
    border-radius: 10px;
    padding: 10px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    margin-bottom: 20px;
}

#formprofil input{
    width: 100%;
    margin-top: 10px;
}
.form-group{
    display: flex;
    justify-content: space-between;
}

.inputname{
    margin-right: 20px;
}

.buttonprofil{
    border-radius: 10px;
    border: none;
    color: var(--white);
    /* width: 100%; */
    padding: 10px;
    cursor: pointer;
}
#enregistrer{
    background-color: var(--violet-light);
    margin-bottom: 10px;
}
#enregistrer:hover{
    background-color: var(--violet);
}
#supprimer{
    background-color: #8882ff;
}
#supprimer:hover{
    background-color: var(--blue-btn);
}
/* PROFIL PARENTS */