html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Commun CSS */

:root {
    --black: #221824;
    --violet: #DD06FF;
    --violet-light: #FF69FF;
    --grey-light: #eaeef7;
    --grey-deep: #6b82ac;
    --white-light: #fff5ff;
}

a {
    text-decoration: none;
}

html, body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

.wrap {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -50px;
}

/* Sticky footer   ---->    https://la-cascade.io/sticky-footer-de-5-facons/ */

.footer, .push {
    height: 50px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.btn {
    width: 200px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
}

.btn:hover {
    background-position: 100% 0;
    -webkitz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn.color-1 {
    background-image: linear-gradient(to right, var(--violet) 0%, var(--grey-deep) 100%);
    box-shadow: 0 4px 15px 0 var(--violet);
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

/* End Commun CSS */

/* Header */

header {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
}

.nav a {
    color: var(--black);
}

.nav a.btn {
    color: var(--white-light);
}

.nav a:hover {
    font-weight: 600;
    transition: .5s;
}

.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 100%;
}

.left {
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
}

.right {
    display: flex;
}

/* END HEADER */

/* FOOTER ================================================ */

.footer-container {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.link-footer {
    display: flex;
    flex-direction: column;
}

.title-footer {
    margin-bottom: 15px;
}

.color-black {
    color: var(--black);
}

.fab {
    cursor: pointer;
}

.fa-twitter {
    color: #6CADDE!important;
}

.fa-facebook-f {
    color: #3b5998!important;
}

.fa-instagram {
    color: var(--violet);
}


/* END FOOTER */

/* MAP */
#map {
    height: 400px;
    width: 50%;
}
/* END MAP */
